[submodule "allocators/Hoard"]
	path = allocators/Hoard
	url = https://github.com/emeryberger/Hoard.git
[submodule "allocators/jemalloc"]
	path = allocators/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "allocators/gperftools"]
	path = allocators/gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "allocators/SuperMalloc"]
	path = allocators/SuperMalloc
	url = https://github.com/kuszmaul/SuperMalloc.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = git@github.com:brendangregg/FlameGraph.git
[submodule "rust-unmangle"]
	path = rust-unmangle
	url = git@github.com:Yamakaky/rust-unmangle.git
[submodule "allocators/lrmalloc.rs"]
	path = allocators/lrmalloc.rs
	url = https://github.com/JoshuaRadin37/lrmalloc.rs.git
[submodule "allocators/tcmalloc"]
	path = allocators/tcmalloc
	url = https://github.com/google/tcmalloc.git
[submodule "allocators/lrmalloc.rs.noapf"]
	path = allocators/lrmalloc.rs.noapf
	url = https://github.com/JoshuaRadin37/lrmalloc.rs.git
